@font-face {
    font-family: "ChicagoFLF";
    src: url(../Fonts/ChicagoFLF.woff2);
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "MEKSans";
    src: url(../Fonts/MEKSans-Regular.woff2);
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Charcoal";
    src: url(../Fonts/Charcoal.woff2);
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

.AppearanceSystemFont-Classic {
    font-family: "MEKSans", "Helvetica", "Arial", sans-serif;
    font-weight: normal !important;
}

.AppearanceSystemFont-Platinum {
    font-family: "Charcoal", "Helvetica", "Arial", sans-serif;
    font-weight: normal !important;
}

.AppearanceSystemFont-NeXT {
    font-family: "Helvetica", "Arial", sans-serif;
}